@import "styles/variables";

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 $indent-sm;

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    border-right: none;
    border-left: none;
  }
}
